<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h1>Login Page</h1>
    <form method="post">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input class="form-control" type="text" id="username" name="username"><br><br>
        <label for="password">Password:</label>
        <input class="form-control" type="password" id="password" name="password"><br><br>
        <input type="submit" value="Login">
    </form>
</body>
</html>