  <header class="p-2 bg-success text-white">
        <div class="row">
            <div class="col-12 justify-content-center">
               <a class=" text-light text-decoration-none " href="#"><span class="text-center"><h3 >Crud</h3></span></a>
            </div>
            <div class="col">
                {% comment %} <div class="d-flex justify-content-end gap-4">
                    <a class="text-light text-decoration-none" href="/project/index">Home</a>
                    <a class="text-light text-decoration-none" href="/project/add">Add Post</a>
                    <a class="text-light text-decoration-none" href="/project/about">About</a>
                    <a class="text-light text-decoration-none" href="/project/contact ">Contact</a>
                </div> {% endcomment %}
            </div>
        </div>
    </header>